


<div class="row align-items-center">
<div class="col-lg-6 col-sm-7">
    <div class="hero_content text-center text-sm-start ps-4">
        <p>Get up to 50% off Today only</p>
        <h1>Fanideaz Men's Regular <br class="d-block d-sm-none"> Fit Polo T-Shirt
        </h1>
        <div class="hero_btn">
            <a class="default_btn small rounded" href="shop-grid.html" tabindex="0">View all</a>
        </div>
    </div>
</div>
<div class="col-lg-6 col-sm-5 d-none d-sm-block">
    <div class="hero_img">
        <img loading="lazy" src="https://st2.depositphotos.com/1000128/6284/i/950/depositphotos_62849427-stock-photo-smart-tv.jpg" alt="shirt" width="50%" height="50%">
    </div>
</div>
</div>
<div class="row">
    <div  class="col banner_collection mt-5 pt-2 pt-xl-0 mt-xl-0 d-flex flex-xl-column flex-row gap-3">
<a  href="#" class="single_bannercol" >
<div class="bancol_img">
    <img loading="lazy" src="https://st2.depositphotos.com/1000128/6284/i/950/depositphotos_62849427-stock-photo-smart-tv.jpg" alt="shoes" width="25%" height="25%">
<h4>TVs </h4>
</div>
</a>
</div>
<div  class=" col banner_collection mt-5 pt-2 pt-xl-0 mt-xl-0 d-flex flex-xl-column flex-row gap-3">
<a  href="#" class="single_bannercol" >
<div class="bancol_img">
    <img loading="lazy" src="https://i.dell.com/is/image/DellContent//content/dam/ss2/product-images/dell-client-products/notebooks/g-series/g15-sif-tgl-mlk/media-gallery/in/laptop_g-series_g15_5511_dark_shadow_grey_hot_coral_kb_media_gallery_4.psd?fmt=png-alpha&pscan=auto&scl=1&wid=5000&hei=5000&qlt=100,0&resMode=sharp2&size=5000,5000" alt="shoes" width="25%" height="25%">
<h4>Laptops </h4>
</div>
</a>
</div>
<div  class=" col banner_collection mt-5 pt-2 pt-xl-0 mt-xl-0 d-flex flex-xl-column flex-row gap-3">
<a  href="#" class="single_bannercol" >
<div class="bancol_img">
    <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0570/1949/8670/products/JBL_EonOneCompact_3-4_Style_1605x1605_e7c29cd7-f74f-4693-a84f-1e42c55cc598_537x537.png?v=1626354206" alt="shoes" width="25%" height="25%">
<h4>Sound Systems </h4>
</div>
</a>
</div>

</div>